@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  background: #fff;
  color: #143d7920;
}

::-webkit-input-placeholder {
  color: #1d2a57;;
}

::-moz-placeholder {
  color: #1d2a57;;
}

:-moz-placeholder {
  color: #1d2a57;
}

.cover {
  height: 200px;
  width: 100%;
  padding: 10px 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

ul li .rem {
    background: #971717;
    border: 1px solid #971717;
    color: #fff;
    padding: 5 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
  
ul li .rem:hover {
    background: #b14b4b;
    border: 1px solid #b14b4b;
}

ul li .check {
  background: #008000;
  border: 1px solid #008000;
  color: #fff;
  padding: 5 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

ul li .check:hover {
  background: #6eb56a;
  border: 1px solid #6eb56a;
}

.flex-form button {
  background: #1d2a57;;
  border: 1px solid #222020;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form button:hover {
  background: #2a3e86;
  border: 1px solid #425391;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 700px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 25px;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="text"] {
  flex-basis: 700px;
}

body {
    font-family: "lato", sans-serif;
  }
  
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .responsive-table li {
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #1d2a57;
    font-size: 10px;
  }
  .responsive-table .table-header {
    color: #222020;
    background-color: #1d2a57;;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #1d2a57;
    font-size: 14px;
    box-shadow: 0px 0px 9px 0px rgba(70, 103, 153, 0.159);

  }
  .responsive-table .col {
    background: transparent;
    color: #fff;
    font-size: 15px;
    flex-basis: 10%;
    
  }

  .responsive-table .col-1 {
    max-width: 70%; 
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis; 
  }

  .responsive-table .col-2 {
    color: #fff;
    font-size: 15px;
    flex-basis: 15%;
  } 